.container {
    position: relative;
    padding: 1rem;
    width: 100%;
    background-color: #ece0d1;
    border-radius: 1rem;
    min-height: 90vh;
    border-style: solid;
    border-color: #3A3845;
    border-width: 1px;
}

.listContainer {
    position: relative;
    padding: 1rem;
    width: 100%;
    background-color: #DEB6AB;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    min-height: 90vh;
    margin-top: -0.5%;
    border-style: solid;
    border-color: #3A3845;
    border-width: 1px;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.headingLg {
    font-size: 1.3rem;
    line-height: 1.4;
    width: 50%;
    margin: 0;
}

.statusTabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    width: 100%;
}

.statusTabs input[type="radio"] {
    display: none;
}

.statusTabs input[type="radio"]:checked + label {
    background: #DEB6AB;
    border-color: #3A3845;
    border-bottom: 0;
    z-index: 2;
    height: auto;
    margin-bottom: -0.1%;
    color: #8E3200;
}

.statusTabs label {
    background: #C69B7B;
    font-weight: bold;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    text-align: center;
    display: block;
    height: 150%;
    font-size: .8em;
    padding: 5px;
    padding-bottom: 0%;
    border-width: 1px;
    border-bottom: 0;
    border-style: solid;
    border-color: #6d4d35;
}

.statusTabs input[type="radio"]:hover + label {
    color: #8E3200;
}